<web-app>
    <display-name>Learn Java Servlet</display-name>
    <context-param>
        <param-name>driver</param-name>
        <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </context-param>
    <servlet>
        <!-- represents the servlet -->
        <description>Jsp Servlet Example</description>
        <display-name>Jsp Servlet</display-name>
        <servlet-name>JspServlet</servlet-name>
        <servlet-class>com.tuana9a.servlets.JspServlet</servlet-class>
        <init-param>
            <param-name>girl</param-name>
            <param-value>gemdino</param-value>
        </init-param>
        <init-param>
            <param-name>name</param-name>
            <param-value>tuana9a</param-value>
        </init-param>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>JspServlet</servlet-name>
        <url-pattern>/api/servlets/jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JspServlet</servlet-name>
        <url-pattern>/api/welcome</url-pattern>
    </servlet-mapping>
</web-app>
